.footer {
    margin-top: 3rem;
    text-align: center;
}

.link {
    display: inline-block;
    margin: 1rem 2rem;
    padding: 0;
    vertical-align: middle;
}

.links {
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}

.icon {
    color: #373737
}

.icon:hover {
    color: #ffe21f
}